#knop{
    width: 50px;
    background-color: grey;
    text-align: center;
    cursor: pointer;
}

#menu{
    padding: 0;
    list-style-type: none;
    height: 0;
    overflow: hidden;
}